backend/
images/
node_modules/
old_modules/
python/
assets/
.eslintrc.js
.gitignore
.npmignore
.prettierignore
.prettierrc.js
babel.config.js
prod.tsconfig.json
tsconfig.json
webpack.config.js
yarn*
*.tgz
*.txt
*.env
*.rar
*.zip