backend/
images/
node_modules/
testing/
.eslintrc.js
.gitignore
.npmignore
.prettierignore
.prettierrc.js
prod.tsconfig.json
REFACTORING.md
TO-DO.md
tsconfig.json
webpack.config.js
yarn*
*.tgz
*.txt
*.env